.atomic-habits-summary {
      text-align: center;
      width: 280px;     
      line-height: 40px;
      margin-left: 34px;}

    .paragraph-1 {
      text-align:center;
      width: 280px;
      font-family:Roboto;
      margin-left:34px;}

    .paragraph-2 {
      text-align: center;      
      width: 280px;
      font-family:Roboto;
      margin-left:34px;}

    .paragraph-3 {
      text-align: center;
      width: 280px;
      font-family:Roboto;
      margin-left:34px;}

    .paragraph-4 {
      text-align: center;
      width: 280px;
      font-family:Roboto;
      margin-left:34px;}

    .paragraph-5 {
      text-align: center;
      width: 280px;
      font-family:Roboto;
      margin-left:34px;}

    .paragraph-6 {
      text-align: center;
      width: 280px;
      font-family:Roboto;
      margin-left:34px;}
    
    .heading-2{
      text-align:center;
      width:280px;
      font-family:Roboto;
      margin-left:15px;}
    
    .lesson-1{
      text-align:center;
      width:280px;
      font-family:Roboto;
      margin-left:34px;all: }

    .lesson-2{
      text-align:center;
      width:280px;
      font-family:Roboto;
      margin-left:34px;}
    
    .lesson-3{
      text-align:center;
      width:280px;
      font-family:Roboto;
      margin-left:34px;}
    
    .simple-steps{
      text-align:center;
      width:280px;
      font-family:Roboto;
      margin-left:15px}
    
    .image-1{
      width:270px;
      height:270px;
      margin-left:34px;}
    
    .image-2{
      width:270px;
      height:270px;
      margin-left:34px;}

    .simple-steps{
      background-color:rgb(151, 66, 255);
      color:white;
      text-align:center;
      padding-top:18px;
      padding-bottom:18px;
      padding-right:18px;
      padding-left:18px;}
    
    .heading-2{
      background-color:rgb(66, 158, 255);
      color:white;
      text-align:center;
      padding-top:18px;
      padding-bottom:18px;
      padding-right:18px;
      padding-left:18px;}
